.primary {
  color: #7bae37
}

.primary-button {
  background-color: #7bae37;
  height: 6vh;
  width: 15vh;
  color: #062215;
  margin-left: 11%;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 25px;
}

.secondary-button {
  background-color: #b3d784;
  height: 6vh;
  width: 15vh;
  color: #062215;
  font-size: 20px;
  font-weight: 600;
  border-radius: 25px;
}

.home-subtitle {
  font-weight: 500;
  margin-left: 10%;
  margin-bottom: -20px
}

.home-title {
  font-weight: 600;
  margin-left: 10%;
  margin-bottom: 50px;
}
