{% include 'header.html' %}
{% include 'navbar.html' %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Your Stores</h2>
      <a href="{{ url_for('addStore', username=current_user.username) }}"><button class="btn primary-button">+</button></a>
      {% for store in stores %}
      <div class="card" style="width: 18rem; margin: 10px">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ store.name }}</h5>
          <p class="card-text">{{ store.rating }}</p>
          <a href="#" class="btn btn-primary">Edit</a>
          <a href="#" class="btn btn-primary">Delete</a>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% include 'footer.html' %}
